<%- include('header') %>

    <title>About</title>
  
    <section>
      <nav>
        <div class="logo">Bible Verse Generator</div>
        <ul>
          <li><a onclick="darkMode()" class="dark-mode-toggle"><i class="fas fa-moon"></i></a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </section>

  <body>
    <section class="main-container">
      <h1>About This Bible Verse Generator</h1>
      <div class="scroll-indicator-long"></div>

      <div class="sub-container">
        
      <p>
        This application provides random Bible verses to inspire and uplift
        users. It is built using Node.js, Express, and MongoDB.
      </p>
      <p>Feel free to explore the verses and refresh the page for new ones!</p>

      </div>
    </section>
  
    <script src="/js/script.js"></script>
  </body>
</html>

<%- include('footer') %>